.container {
  margin-top: 66px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  label {
    width: 100%;
    display: block;
  }
}

.area {
  width: 100%;
  height: 92px;
  background: #ffffff;
  outline: none;
  resize: none;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  margin-top: 8px;
}

.counter {
  color: rgba(0, 0, 0, 0.48);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  margin-top: 88px;
}

.errMessage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.16);
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modalInner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  width: 460px;
  height: 312px;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  cursor: default;
}

.imgContainer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(5, 174, 113, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  color: #05ae71;
  width: 38px;
  height: 38px;
}

.open {
  display: flex;
}

@media (max-width: 500px) {
  .btnContainer {
    margin-top: 30px;
  }
  .modalInner {
    width: 300px;
  }
}
