$blue: #5558fa;

.modalInner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  width: 460px;
  height: 312px;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  cursor: default;
}

.imgContainer,
.imgContainerErr {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(5, 174, 113, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgContainerErr {
  background: rgba(232, 78, 88, 0.15);
}

.img,
.imgErr {
  color: #05ae71;
  width: 38px;
  height: 38px;
}

.imgErr {
  color: #e84e58;
}

.btn {
  display: block;
  text-decoration: none;
  padding: 12px 16px;
  width: 110px;
  height: 44px;
  background: $blue;
  color: #fff;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  border: 1px solid $blue;
  transition: all 0.3s linear;
  &:hover {
    background: transparent;
    color: $blue;
  }
}

@media (max-width: 500px) {
  .modalInner {
    width: 300px;
  }
}
