.btn {
  width: 79px;
  height: 44px;
  border: 0;
  outline: 0;
  margin-top: 48px;
  border-radius: 4px;
  background-color: #5558fa;
  padding: 12px 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #5558fa;
  &:hover {
    color: #5558fa;
    background-color: transparent;
  }
}

.errMessage {
  display: flex;
  align-items: center;
  color: #c97676;
  font-size: 12px;
  font-weight: 600;
}
