.formContainer {
  width: 900px;
  min-height: 700px;
  background-color: #fff;
  margin: auto;
  border-radius: 24px;
  padding: 24px;
  padding-top: 0;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  label {
    margin-top: 24px;
  }
  input {
    width: 100%;
    height: 44px;
    background-color: #0000000a;
    border-radius: 4px;
    border: 1px solid #00000029;
    outline: 0;
    padding: 12px;
    margin-top: 8px;
  }
  p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
