.RadioGroup {
  margin-top: 24px;
  label {
    display: block;
    height: 16px;
    margin-top: 2px;
  }
  input {
    width: 16px;
    height: 16px;
    margin: 0;
    margin-right: 8px;
    border: 0;
  }
}
