@mixin inProcess {
  background-color: #5558fa;
  &:after {
    content: '•';
    color: azure;
  }
}

@mixin over {
  background-color: #5558fa;
  &:after {
    content: '✔';
    color: azure;
    font-size: 10px;
  }
}

.container {
  width: 100%;
  padding: 60px 100px 80px 100px;
}

.progressBar {
  width: 100%;
  height: 8px;
  background-color: #00000014;
  border-radius: 8px;
  position: relative;
  :nth-child(1) {
    left: 0;
  }
  :nth-child(2) {
    left: calc(50% - 8px);
  }
  :nth-child(3) {
    left: calc(100% - 16px);
  }
}

.stepDot {
  position: absolute;
  top: calc(50% - 8px);
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: #a6a6a6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step1 {
  :nth-child(1) {
    @include inProcess();
  }
}
.step2 {
  background: linear-gradient(to right, #5558fa 50%, #00000014 50%);
  :nth-child(1) {
    @include over();
  }
  :nth-child(2) {
    @include inProcess();
  }
}
.step3 {
  background: #5558fa;
  :nth-child(1) {
    @include over();
  }
  :nth-child(2) {
    @include over();
  }
  :nth-child(3) {
    @include inProcess();
  }
}

.test {
  display: flex;
  justify-content: space-between;
  color: #666666;
  font-size: 14px;
  margin-top: 20px;
}

.stepS1 {
  :nth-child(1) {
    color: #5558fa;
  }
}
.stepS2 {
  :nth-child(1) {
    color: #5558fa;
  }
  :nth-child(2) {
    color: #5558fa;
  }
}
.stepS3 {
  :nth-child(1) {
    color: #5558fa;
  }
  :nth-child(2) {
    color: #5558fa;
  }
  :nth-child(3) {
    color: #5558fa;
  }
}
