@import url(//db.onlinewebfonts.com/c/37086b994764dba84b2ee0f1083bfeed?family=SB+Sans+Interface);

.container {
  width: 100%;
  label {
    display: block;
    width: 400px;
  }
}
.header {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #00000014;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #3e669b;
  margin-right: 24px;
}

.userInfo {
  width: 240px;
  text-align: left;
}

.name {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 8px;
}

.links {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 450px) {
  .container label {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .logo {
    width: 60px;
    height: 60px;
    margin-right: 12px;
  }
  .userInfo {
    width: 220px;
  }
}
